/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-dec-2017, 9:38:29
    Author     : fjker
*/
#available_fields, [id^=tab-], #tabs {
    border: 1px solid #eee;
    width: 100%;
    min-height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#available_fields div:active, [id^=tab-] div:active, #tabs div:active {
    background-color: #ccc;
    box-shadow: rgba(0,0,0,0.5) 2px 2px 1px 1px;
    opacity: .85;
}
#available_fields div, [id^=tab-] div, #tabs div {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    /*   width: 120px; */
}
.ui-state-highlight {
    height: 2em;
    line-height: 1.2em;
}
.fa-question-circle, .fa-info-circle{
    color: #008cba;
}