/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-aug-2017, 0:42:06
    Author     : Erik Kerkhoven
*/

  /* Navs */
  .nav > li.disabled > a {
      color: #999;
  }
  .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
      color: #999;
  }
  /* Tabs */
  .nav-tabs > li > a {
      color: #666;
      border-radius: 2px 2px 0 0;
      font-size: 1.2em;
  }
  .nav-tabs > li > a:hover {
      border-color: #eee #eee #ddd;
  }
  .nav-tabs {
      margin-bottom: 25px;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      font-weight: bold;
      color: #333;
  }
  .form-control:hover {
      border: 1px solid #b9b9b9;
      border-top-color: #a0a0a0;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  }
  .table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
      font-family: FontAwesome;
      color: #1E91CF;
      content: "\f059";
      margin-left: 4px;
  }
  .fa-question-circle {
      color: #008cba;
  }
  #modalImageManager {
      margin: 10px auto;
  }
  .directory {
      color: #f8f5e1
  }
  .directory:hover {
      color: #ffd700;
  }
  .fa-folder {
      text-shadow: 1px 1px 1px rgba(1,1,1,0.5);
  }